:root {
  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-grey: hsl(213, 19%, 23%);
  --clr-card-bg: hsl(213, 19%, 18%);
  --clr-body-bg: hsl(216, 12%, 8%);

  --ff-base: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.563rem;
  --fs-4: 1.953rem;
  --fs-5: 2.441rem;

  /* - Mobile: 375px
- Desktop: 1440px */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--ff-base);
  background-color: var(--clr-body-bg);
  color: var(--clr-neutral-grey);
}

/* блок */
.card {
  background-color: var(--clr-card-bg);
  width: min(90%, 330px);
  aspect-ratio: 1 / 1.1;
  padding: 2.5rem;
  border-radius: 15px;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.img-star {
  border-radius: 50%;
  background-color: var(--clr-dark-grey);
  width: fit-content;
  padding: 1rem;
}

.card__title {
  font-size: var(--fs-5);
  color: var(--clr-neutral-white);
  letter-spacing: 0.7px;
}

.card__text {
  font-size: var(--fs-2);
}

/* BUTTONS */

.card__form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: var(--clr-neutral-grey);
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  border: none;
  background-color: var(--clr-dark-grey);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  transition: 0.1s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-neutral-grey);
  color: var(--clr-neutral-white);
}
.btn:active,
.btn:focus {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-white);
}

.card__btn {
  font-size: var(--fs-3);
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 5rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-white);
  font-weight: var(--fw-bold);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.card__btn:hover,
.card__btn:focus {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

.card__message {
  letter-spacing: 0.5px;
  font-size: var(--fs-2);
  background-color: var(--clr-dark-grey);
  border-radius: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  padding: 0.3rem 1rem;
}

.img-star,
.card__title,
.card__text,
.img,
.card__message {
  margin-bottom: 2rem;
}
