:root {
  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-grey: hsl(213, 19%, 23%);
  --clr-card-bg: hsl(213, 19%, 18%);
  --clr-body-bg: hsl(216, 12%, 8%);

  --ff-base: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  background-color: var(--clr-body-bg);
  color: var(--clr-neutral-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/* блок */
.card {
  background-color: var(--clr-card-bg);
  width: min(90%, 300px);
  height: 300px;
  padding: 2rem;
  border-radius: 15px;
}

.card__base {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

.center {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.img-star {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--clr-dark-grey);
  aspect-ratio: 1 / 1;
  width: fit-content;
  padding: 1rem;
}

.img {
  display: flex;
  justify-content: center;

  width: max-content;
  align-self: center;
}

.thanks-img,
.star {
  width: 80%;
}

.card__title {
  font-size: 2rem;
  color: var(--clr-neutral-white);
  letter-spacing: 0.7px;
}

.card__text {
  font-size: 1.1rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: var(--clr-neutral-grey);
  font-size: 1.3rem;
  font-weight: var(--fw-bold);
  border: none;
  background-color: var(--clr-dark-grey);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  transition: 0.1s;
}

.btn:hover {
  background-color: var(--clr-neutral-grey);
  color: var(--clr-neutral-white);
}
.btn:active,
.btn:focus {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-white);
}

.card__btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 4rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-white);
  font-weight: var(--fw-bold);
  transition: 0.1s;
}

.card__btn:hover,
.card__btn:focus {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

.card__message {
  background-color: var(--clr-dark-grey);
  border-radius: 1rem;
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  padding: 0.3rem 1rem;
}

.mbottom {
  margin-bottom: 1rem;
}
